{{- if or .Params.author site.Params.author }}
{{- $author := (.Params.author | default site.Params.author) }}
{{- $author_type := (printf "%T" $author) }}
{{- if (or (eq $author_type "[]string") (eq $author_type "[]interface {}")) }}
	{{- (delimit $author ", " ) }}
{{- else }}
	{{- $author_slug := $author }}
	{{- $ap := site.GetPage (printf "authors/%s" $author_slug) }}
	{{- if not $ap }}
		{{- $author }}
	{{- else }}
		{{- $nick := $ap.Params.nick | default $ap.Title -}}
		{{- $avatar := $ap.Params.avatar | default (print "/img/" (lower $author_slug) ".png") -}}
		{{- $avatarURL := $avatar | absURL -}}
		{{- $safeNick := $nick -}}
		{{- printf "<span class=\"post-author\"><img src=\"%s\" alt=\"%s\" class=\"author-avatar\"/> <span class=\"author-nick\">%s</span></span>" $avatarURL $safeNick $safeNick | safeHTML -}}
	{{- end }}
{{- end }}
{{- end -}}
